/* Enter your custom styles here */
.sapUiForm .sapUiFormTitle {
    display: none;
}    
.sapUxAPObjectPageSectionHeader{
    height:0 !important;
    line-height:0 !important;
    padding:0 !important;
}

.sapUxAPObjectPageContainerNoBar>.sapUxAPObjectPageSection:first-child:not(.sapUxAPObjectPageSectionNoTitle){
    margin-top:0 !important;
}

.textAlign.sapMInputBase.sapMTextArea .sapMTextAreaInner{
    text-align: justify;
}

.textAlign.sapMInputBase.sapMTextArea .sapMTextAreaInner, 
.textAlign.sapMInputBase.sapMTextArea .sapMTextAreaMirror {
    padding: 2% !important;
}

.buttonBlack .sapMBtnInner {
    color: #ffffff !important;
    background-color: black !important;
    border-radius: 0rem !important;
}

.buttonBlack .sapMBtn .sapMBtnInner,
.buttonBlack .sapMBtnHoverable{
    background-color: black !important;
}
.sapMLIB.sapMLIBSelected {
    background: #e7ecf0 !important;
}
.sapUxAPObjectPageLayout .sapUxAPObjectPageFooter .sapUxAPObjectPageFloatingFooter {
    border-radius: 0rem !important;
}